@use 'variables' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-main);
    color: var(--color-text-primary);
    font-family: Montreal;
}

a {
    text-decoration: none;
    color: currentColor;
}
// Separate the styles with comments per styled page/feature


//////////////////// Navbar global styles /////////////////////////

.navbar {
    margin: 20px;
    border-radius: 5px;
    background-color: var(--accent-card);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 30px;

    img {
        width: 100px;
        height: 100px;
       
        filter: var(--icon-filter);
    }

    button {
        
        cursor: pointer;
        color: var(--color-text-primary);
        font-family: MontrealMono;

    }
}

.links-navbar {
    display: flex;
    gap: 50px;
    align-items: center;

    a {
        cursor: pointer;
        display: flex;
        color: currentColor;
        text-decoration: none;
        font-family: MontrealMono;

        padding: 10px;              
        border-radius: 20px;         
        align-items: center;  
        transition: background-color 0.3s ease,
        
    }

    a.active {
        background-color: var(--bg-main);
    }

    @media (max-width: 1000px) {
        display: none;
    }
}

.btn-settings {
    background: var(--bg-main);
    border-radius: 10px;
    padding: 5px;
    border: none;
    display: flex;

    img {
        width: 30px;
        height: 30px;
        
        filter: var(--icon-filter);
    }
}

.btn-mobile-nav {
    background: var(--bg-main);
    border-radius: 10px;
    padding: 5px;
    border: none;
    display: none;
    position: relative;

    img {
        width: 30px;
        height: 30px;
        
        filter: var(--icon-filter);
    }

    // Show button only on screens less than 1000px
    @media (max-width: 999px) {
        display: flex;
    }
}

.settings-container {
    position: relative;

    @media (max-width: 1000px) {
        display: none;
    }
}

.mobile-menu {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--accent-card);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 75%;
    min-height: 100%;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;

    a {
        font-family: MontrealMono;
        font-size: clamp(24px, 3vw, 32px);
        transition: 0.3s ease;
        font-weight: 700;
        position:relative;

        &::after {
                content: "";
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 16px;
                height: 16px;
                background-size: contain;
                background-repeat: no-repeat;
                margin-right: 15px;
                background-image: url('../assets/images/arrow-right.svg');
            }

        &:hover {
            opacity: 0.6;
        }
    }

    @media (max-width: 1000px) {
        display: flex;
    }
}

.btn-section {
    display: flex;
    flex-direction: column;

        button {
            width: 100%;
            padding: 10px;
            border: none;
            background: none;
            color: var(--color-text-primary);
            text-align: left;
            cursor: pointer;
            align-items: center;
            display: flex;

            &:nth-child(2) {
                justify-content: flex-end; 
                text-align: right; 
            }
            
            img {
                width: 30px;
                height: 30px;
                margin-right: 10px;
                filter: var(--icon-filter);
            }
        }
}

.mobile-links-section {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: none;

   @media (max-width: 1000px) {
        display:block;
    }
}

.settings-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--accent-card);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    min-width: 200px;
    min-height: 300px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    img {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        
        filter: var(--icon-filter);
    }

    button {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: none;
        background: none;
        color: var(--color-text-primary);
        text-align: left;
        cursor: pointer;
        align-items: center;
        display: flex;
        align-items: center;

        &:hover {
            background-color: var(--bg-main);
        }
    }
}

