:root[data-theme=dark] {
  --bg-main: #0A0A0A;
  --accent-card: #1b1b1b;
  --color-text-primary: #f6f6f6;
  --icon-filter: invert(100%);
  --info-1-color: #FEB800;
  --error-color: #ff573b;
  --success-color: #018848;
  --info-2-color: #0988EF;
}

:root[data-theme=light] {
  --bg-main: #F6F6F6;
  --accent-card: #E2E2E2;
  --color-text-primary: #1b1b1b;
  --icon-filter: none;
  --info-1-color: #FEB800;
  --error-color: #ff573b;
  --success-color: #018848;
  --info-2-color: #0988EF;
}

@font-face {
  font-family: "Montreal";
  src: url("../assets/fonts/PPNeueMontreal-Medium.woff2") format("woff2"), url("../assets/fonts/PPNeueMontreal-Medium.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: "MontrealMono";
  src: url("../assets/fonts/PPNeueMontrealMono-Medium.woff2") format("woff2"), url("../assets/fonts/PPNeueMontrealMono-Medium.woff") format("woff");
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-main);
  color: var(--color-text-primary);
  font-family: Montreal;
}

a {
  text-decoration: none;
  color: currentColor;
  font-size: 13px;
  width: fit-content;
}

.navbar {
  margin: 0px;
  border-radius: 5px;
  background-color: var(--accent-card);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 30px;
}

.navbar img {
  width: 145px;
  height: 65px;
  filter: var(--icon-filter);
}

.navbar button {
  cursor: pointer;
  color: var(--color-text-primary);
  font-family: Montreal;

}

.links-navbar {
  display: flex;
  align-items: center;
}

.links-navbar a {
  display: flex;
  color: #686868;
  text-decoration: none;
  font-family: Montreal;
  padding: 10px;
  height: 35px;
  border-radius: 4px;
  align-items: center;
  transition: 0.3s ease;
}

.links-navbar a:hover {
  color: var(--color-text-primary);
}

.links-navbar a.active {
  color: var(--bg-main);
  background-color: var(--color-text-primary);
}

@media (max-width: 1000px) {
  .links-navbar {
    display: none;
  }
}

.btn-settings {
  background: var(--bg-main);
  border-radius: 10px;
  padding: 5px;
  border: none;
  display: flex;
}

.btn-settings img {
  width: 30px;
  height: 30px;
  filter: var(--icon-filter);
}

.btn-mobile-nav {
  background: var(--bg-main);
  border-radius: 10px;
  padding: 5px;
  border: none;
  display: none;
  position: relative;
}

.btn-mobile-nav img {
  width: 30px;
  height: 30px;
  filter: var(--icon-filter);
}

@media (max-width: 999px) {
  .btn-mobile-nav {
    display: flex;
  }
}

.settings-container {
  position: relative;
}

@media (max-width: 1000px) {
  .settings-container {
    display: none;
  }
}

.mobile-menu {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--accent-card);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 75%;
  min-height: 100%;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  animation: slide-in-menu 0.3s ease-out forwards;
}

.mobile-menu a {
  font-family: MontrealMono;
  font-size: clamp(24px, 3vw, 32px);
  transition: 0.3s ease;
  font-weight: 700;
  position: relative;
}

.mobile-menu a::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 15px;
  filter: var(--icon-filter);
  background-image: url("../assets/images/arrow-right.svg");
}

.mobile-menu a:hover {
  opacity: 0.6;
}

@media (max-width: 1000px) {
  .mobile-menu {
    display: flex;
  }
}

@keyframes slide-in-menu {
  0% {
    transform: translate(-100%);
  }

  100% {
    transform: translate(0);
  }
}

.btn-section {
  display: flex;
  flex-direction: column;
}

.btn-section button {
  width: 100%;
  padding: 10px;
  border: none;
  background: none;
  color: var(--color-text-primary);
  text-align: left;
  cursor: pointer;
  align-items: center;
  display: flex;
}

.btn-section button:nth-child(2) {
  justify-content: flex-end;
  text-align: right;
}

.btn-section button img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  filter: var(--icon-filter);
}

.mobile-links-section {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: none;
}

@media (max-width: 1000px) {
  .overlay {
    display: block;
  }
}

.settings-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: var(--accent-card);
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  min-width: 200px;
  min-height: 300px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.settings-dropdown img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  filter: var(--icon-filter);
}

.settings-dropdown button {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background: none;
  color: var(--color-text-primary);
  text-align: left;
  cursor: pointer;
  align-items: center;
  display: flex;
  align-items: center;
}

.settings-dropdown button:hover {
  background-color: var(--bg-main);
}

/*# sourceMappingURL=App.css.map */