@charset "UTF-8";
:root[data-theme=dark] {
  --bg-main: #0A0A0A;
  --accent-card: #1b1b1b;
  --color-text-primary: #f6f6f6;
  --icon-filter: invert(100%);
  --stroke-color: #2A2A2A;
  --info-1-color: #FEB800;
  --error-color: #ff573b;
  --success-color: #018848;
  --info-2-color: #0988EF;
}

:root[data-theme=light] {
  --bg-main: #F6F6F6;
  --accent-card: #E2E2E2;
  --color-text-primary: #1b1b1b;
  --icon-filter: none;
  --stroke-color: #D1D2CC;
  --info-1-color: #FEB800;
  --error-color: #ff573b;
  --success-color: #018848;
  --info-2-color: #0988EF;
}

@font-face {
  font-family: "Montreal";
  src: url("../assets/fonts/PPNeueMontreal-Medium.woff2") format("woff2"), url("../assets/fonts/PPNeueMontreal-Medium.woff") format("woff");
  font-style: normal;
}
@font-face {
  font-family: "MontrealMono";
  src: url("../assets/fonts/PPNeueMontrealMono-Medium.woff2") format("woff2"), url("../assets/fonts/PPNeueMontrealMono-Medium.woff") format("woff");
  font-style: normal;
}
.headingClientsPage, .sectionCurrentCprojects div, .cardClient, .alphabeticalFilter button, .searchClientOverview input, .cardProjectSpecific {
  background-color: var(--accent-card);
  border-radius: 5px;
  border: 1px solid var(--stroke-color);
}

#wrapperClientsPage {
  padding-inline: 120px;
}
@media (max-width: 800px) {
  #wrapperClientsPage {
    padding-inline: 20px;
  }
}

.headingClientsPage {
  padding: 45px;
}
.headingClientsPage h2 {
  font-weight: 200;
  font-size: 16px;
  margin-top: 10px;
  opacity: 0.8;
}

.sectionCurrentCprojects {
  display: flex;
  justify-content: space-between;
  padding-block: 20px;
  border-radius: 5px;
  gap: 0.5rem;
}
.sectionCurrentCprojects div {
  padding: 10px 20px;
  flex: 1;
  display: flex;
  min-height: 150px;
  align-items: center;
}
@media (max-width: 800px) {
  .sectionCurrentCprojects div {
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
  }
}
.sectionCurrentCprojects div p:nth-child(1) {
  opacity: 0.8;
}
.sectionCurrentCprojects div p:nth-child(2) {
  font-size: clamp(24px, 2vw, 32px);
}

.currentCprojectsCard aside:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.boxCprojectsCard {
  width: 50px;
  height: 50px;
  position: relative;
  border-radius: 5px;
  margin-right: 20px;
}
@media (max-width: 800px) {
  .boxCprojectsCard {
    margin-right: 0;
  }
}
.boxCprojectsCard::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.boxCprojectsCard--orange {
  background-color: rgba(254, 184, 0, 0.2);
}
.boxCprojectsCard--orange::before {
  background-color: var(--info-1-color);
}
.boxCprojectsCard--green {
  background-color: rgba(1, 136, 72, 0.2);
}
.boxCprojectsCard--green::before {
  background-color: var(--success-color);
}
.boxCprojectsCard--blue {
  background-color: rgba(9, 136, 239, 0.2);
}
.boxCprojectsCard--blue::before {
  background-color: var(--info-2-color);
}

.cardClient {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  transition: 0.3s ease;
}
.cardClient h3 {
  font-weight: 500;
  font-weight: 18px;
  margin-top: 20px;
}
.cardClient h4 {
  opacity: 0.8;
  font-weight: 200;
  font-size: 14px;
}
.cardClient p {
  opacity: 0.8;
}
.cardClient:hover .linkArrowCard {
  opacity: 1;
}
.cardClient:hover .letterBox {
  background-color: #0A0A0A;
  color: #f6f6f6;
}

.letterBox {
  width: 50px;
  height: 50px;
  background-color: #F6F6F6;
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 3px;
  color: #0A0A0A;
  transition: background-color 0.3s ease;
}

.wrapperBtnTopCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapperBtnTopCard img {
  width: 15px;
  height: 15px;
  opacity: 0.7;
  filter: var(--icon-filter);
}

#wrapperCardsClients {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  padding-block: 20px;
}

.alphabeticalFilter {
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  padding-block: 20px;
}
.alphabeticalFilter button {
  color: var(--color-text-primary);
  text-transform: uppercase;
  padding: 10px;
  font-size: 16px;
  opacity: 0.8;
  flex: 1;
  cursor: pointer;
  font-family: MontrealMono;
  transition: 0.3s ease;
}
@media (max-width: 700px) {
  .alphabeticalFilter button {
    flex: 0;
  }
}
.alphabeticalFilter button:hover {
  opacity: 0.6;
}
.alphabeticalFilter button.active {
  background-color: gray;
}

.searchClientOverview {
  position: relative;
}
.searchClientOverview input {
  color: var(--color-text-primary);
  font-size: 16px;
  padding: 10px 10px 10px 40px;
  width: 50%;
  min-height: 50px;
}
@media (max-width: 900px) {
  .searchClientOverview input {
    width: 100%;
  }
}
.searchClientOverview .searchIcon {
  position: absolute;
  left: 13px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  filter: var(--icon-filter);
}

.collectionProjectDescription {
  display: flex;
  align-items: center;
  gap: 10px;
}
.collectionProjectDescription p {
  font-size: 14px;
}
.collectionProjectDescription p:nth-child(2) {
  background-color: rgba(1, 136, 72, 0.2);
  color: var(--success-color);
  border-radius: 1px;
  padding: 3px;
}
.collectionProjectDescription p:nth-child(1)::before {
  content: "📁";
  font-size: inherit;
  margin-right: 3px;
}

.progressBarCPcard {
  display: flex;
  justify-content: space-between;
}

.progressBarContainer {
  width: 100%;
  height: 5px;
  margin-block: 10px;
  background-color: #ffffff;
  border-radius: 5px;
}
.progressBarContainer div {
  background-color: #2A2A2A;
  height: 100%;
  border-radius: 5px;
}/*# sourceMappingURL=Clients.module.css.map */